
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-outline">
                <input type="text" name="search" value="" id="form1" class="form-control" (keyup)="onKeyUp($event)" placeholder="Search" aria-label="Search" />
              </div>
            <table class="table table-striped" >
                <thead>
                    <th>StoreId</th>
                    <th>Sku</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let feed of pricingfeedsdisplay | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index">
                        <td>{{feed.storeId}}</td>
                        <td>{{feed.sku}}</td>
                        <td>{{feed.productName}}</td>
                        <td>{{feed.price}}</td>
                        <td>{{feed.date}}</td>
                        <td><button type="button" class="btn btn-primary" (click)="onEdit(feed.storeId)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
              </div>
        </div>
    </div>
</div>
